<%= form_for :session, :url => session_path, html: { class: "login", data: { ajax: "false"} } do |form| %>
  <div class='text-field'>
    <%= form.label :email %>
    <%= form.text_field :email, :type => 'email', placeholder: 'HungryMonster@example.com' %>
  </div>

  <div class='password-field'>
    <%= form.label :password %>
    <%= form.password_field :password, placeholder: 'password' %>
  </div>

  <div class='submit-field'>
    <%= form.submit %>
  </div>

  <div class='other-links'>
    <%= link_to t('.sign_up'), sign_up_path %>
    <%= link_to t('.forgot_password'), new_password_path %>
  </div>
<% end %>
