<div data-role="page" id="query-show" data-url="<%= request.path  %>">
  <div id="username-display">

    <% if signed_in? %>
    <span><%= current_user.email %></span>
    <span><%= link_to 'logout', sign_out_path, method: :delete %></span>
    <% else %>
    <span><%= link_to 'Sign in', sign_in_path %></span>
    <% end %>

  </div>

  <div data-role="header" class="toolbar" style="overflow:hidden;" data-theme="b">
    <h2>Recipe</h2>
    <%= link_to 'Back', recipe_query_path(@recipe.recipe_query_id, :redirect_to => :back), data: {icon: 'gear'}, class: 'ui-btn-left' %>
    <a href="#settings-panel" data-icon="gear" class="ui-btn-right">Options</a>
  </div><!-- /header -->

  <%= flash[:convert_recipe_notice] %>

  <div data-role="content" class="main">
    <h3><%= @recipe.name %></h3>
    <img src="<%= @recipe.img_url %>" alt="" height="60" width="90">
    <h4>Ingredients List: </h4>
    <ul>
      <% @ingredients.each do |ingredient| %>
        <li><%= ingredient %></li>
      <% end %>
    </ul>
    <% unless current_user.recipes.include?(@recipe) %>
      <%= button_to "Save Recipe", action: "add_recipe_to_user" %>
    <% else %>
      <p>Recipe Saved</p>
      <%= button_to "Convert Recipe to Grocery List", {controller: 'grocery_lists', action: "convert_recipe_to_list", id: current_fridge.id, recipe_id: @recipe.id} %>
    <% end %>
  </div><!-- /content.main -->

  <!-- slider panel -->
    <div id="settings-panel" class="panel" data-role="panel" data-position="right" data-display="reveal" data-position-fixed="true">
    </div><!-- /slider panel -->
</div><!-- /page -->