  <div data-role="page">
    <div id="username-display">
        <% if signed_in? %>
         <span><%= current_user.email %></span>
         <span><%= link_to 'logout', sign_out_path, method: :delete %></span>
        <% else %>
          <span><%= link_to 'Sign in', sign_in_path %></span>
        <% end %>

      </div>

    <div data-role="header" class="toolbar" style="overflow:hidden;" data-theme="b">
      <h1>Fridges</h1>
      <a href="#settings-panel" data-icon="gear" class="ui-btn-right">Options</a>
    </div><!-- /header -->

    <div data-role="content">

      <%= flash[:delete_fridge_notice] %>
      <%= flash[:add_fridge_notice] %>
      <%= flash[:remove_user_from_fridge_notice] %>


      <div>
        <%= form_for @fridge do |f| %>
          <%= f.text_field :name, placeholder: 'Fridge Name' %>
          <%= f.submit 'Add Fridge' %>
        <% end %>
      </div>

      <div id="fridge-contents">
        <ul data-role="listview" data-inset="true" data-split-icon="delete">

        <% @fridges.each  do |fridge| %>
          <li data-icon="false">
            <span <%= render( text:'style=visibility:hidden;') if !fridge.is_shared? %>><%= image_tag("shared.png", alt: "Shared Fridge", id: "shared-icon")  %></span>
            <a href="<%= fridge_url(fridge.id) %>"><%= fridge.name %></a>
            <% if fridge.creator_id == @current_user.id %>
              <%= link_to('Delete Fridge', fridge_path(fridge.id), method: 'delete', data: { icon: "delete"}) %>
            <% else %>
                <%= link_to('Delete Fridge', remove_user_fridge_path(fridge.id), method: 'post', data: { icon: "delete"}) %>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>

  </div><!-- /content -->

    <div id="settings-panel" class="panel" data-role="panel" data-position="right" data-display="reveal" data-position-fixed="true">
      <div>
        <ul>
          <% @fridges.each  do |fridge| %>
          <li><span>stuff</span></li>
        <% end %>
        </ul>
      </div>

    </div>


  </div><!-- /page -->

