<h1>Fridges</h1>

<%= flash[:delete_fridge_notice] %>

<% @fridges.each  do |fridge| %>
  <h3><%= link_to fridge.name, fridge_path(fridge.id) %></h3>
  <% if fridge.creator_id == @current_user.id %>
    <%= button_to('Delete Fridge', fridge_path(fridge.id), method: 'delete') %>
  <% end %>
<% end %>

<%= flash[:add_fridge_notice] %>

<%= form_for @fridge do |f| %>
  <%= f.text_field :name, placeholder: 'Fridge Name' %>
  <%= f.submit 'Add Fridge' %>
<% end %>