<h2><%= @fridge.name %></h2>
  <ul>
    <% @fridge.items.each do |item| %>
      <li>Name: <%= item.name %></li>
      <li>Category: <%= item.category %></li>
      <li>Purchased: <%= time_ago_in_words(item.created_at) %> ago</li>
      <%= button_to('Delete Item', fridge_item_path(item.fridge.id, item.id), controller: item, method: 'delete') %>
      <br>
    <% end %>
  </ul>

<%= form_for [@fridge, @item] do |f| %>
  <%= f.text_field :name, placeholder: 'Item Name' %>
  <%= f.text_field :category, placeholder: 'Category' %>
  <%= f.submit 'Add Item to Fridge' %>
<% end %>