<h2><%= @fridge.name %></h2>
  <ul>
    <% @fridge.items.each do |item| %>
      <li>Name: <%= item.name %></li>
      <li>Category: <%= item.category %></li>
      <li>Purchased: <%= time_ago_in_words(item.created_at) %> ago</li>
      <%= button_to('Delete Item', fridge_item_path(item.fridge.id, item.id), controller: item, method: 'delete') %>
      <br>
    <% end %>
  </ul>

<%= form_for [@fridge, @item] do |f| %>
  <%= f.text_field :name, placeholder: 'Item Name' %>
  <%= f.select :category, ['Beverage', 'Dairy', 'Meat', 'Produce', 'Snack', 'Other'], :prompt => 'Category' %>
  <%= f.submit 'Add Item to Fridge' %>
<% end %>

<h3>Add User to <%= @fridge.name %>:</h3>
<%= form_for @find_user_email, url: add_user_fridge_path, method: 'post' do |f| %>
  <%= f.text_field :email, placeholder: "Enter Email Address" %>
  <%= f.submit %>
<% end %>

<div class 'extra-links'>
  <%= link_to 'Back', fridges_path %>
</div>
