<div class='name-field'>
  <%= form.label :name %>
  <%= form.text_field :name, placeholder: 'name' %>
</div>

<div class='text-field'>
  <%= form.label :email %>
  <%= form.text_field :email, :type => 'email', placeholder: 'gary@example.com' %>
</div>

<div class='password-field'>
  <%= form.label :password %>
  <%= form.password_field :password, placeholder: 'password' %>
</div>

<div class='phone_number-field'>
  <%= form.label :phone_number %>
  <%= form.text_field :phone_number, placeholder: '350-203-4320' %>
</div>

<div class='opted_in-field'>
    <%= form.label "Text Alerts" %>
    <%= form.check_box :opted_in %>
</div>

<div class='customer_id-field'>
  <%= form.label "Grocery Store Customer ID" %>
  <%= form.text_field :customer_id, placeholder: 'Grocery Store Customer ID' %>
</div>