<div id="sign-up" data-role="page" class="sign-up">
  <div data-role="content">
     <h1>Fridge Friend</h1>
     <div id='clearance' class='sign-up'>
      <h2>Sign up</h2>
      <%= flash[:sign_up_errors] %>
      <%= form_for @user, html: { class: "login", data: { ajax: "false"} } do |form| %>
      <%= render :partial => '/users/form', :object => form %>

      <div class='submit-field'>
        <%= form.submit %>
      </div>

      <div class='other-links'>
        <%= link_to t('.sign_in'), sign_in_path %>
      </div>
      <% end %>
    </div>
  </div><!-- /content -->
</div>