<div id="password-edit" data-role="page" class="password-edit">
  <% if flash %>
  <div id="flash-box">
    <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
  </div>
  <% end %>
  <div id="ff-header-block">
      <span id="ff-logo-underline"></span>
      <h1>Fridge Friend</h1>
      <span id="ff-logo-fridge-med"></span>
    </div>
    <div class="ff-tagline-block">Eat.&nbsp;&nbsp;Drink.&nbsp;&nbsp;Be Social.</div>


  <div data-role="content">

    <div id='clearance'>
      <h2><%= t '.title' %></h2>

      <p><%= t '.description' %></p>

      <%= form_for :password_reset,
      :url => user_password_path(@user, :token => @user.confirmation_token),
      :html => { :method => :put } do |form| %>
      <div class='password-field'>
        <%= form.label :password %>
        <%= form.password_field :password, placeholder: 'HungryMonster@example.com' %>
      </div>

      <div class='submit-field'>
        <%= form.submit %>
      </div>
      <% end %>
    </div>
  </div>
</div>
